version: "3.8"

services:
  redis:
    container_name: bot-storage
    image: redis:7.2.0-alpine3.18
    restart: always
    env_file: .env
    expose:
      - ${RD_PORT}
    volumes:
      - redis_data:/bitnami/redis/data

  hse-perm-helper-bot:
    image: 'hse-perm-helper-bot'
    container_name: hse-perm-helper-bot
    build: .
    logging:
      driver: "fluentd"
      options:
        fluentd-address: 127.0.0.1:24224
    restart: always
    env_file: .env
    depends_on:
      - redis
    volumes:
      - tg-bot-data:/app/save
    networks:
      - logging

volumes:
  redis_data:
  tg-bot-data:

networks:
  logging:
    name: logging
    external: true